body{ 
    margin: auto; 
    box-sizing: border-box; 
    width: 300px; 
    height: 150px; 
} 
.container{ 
    margin-top: 25px; 
    padding-top: 15px; 
    background-color: rgb(255, 255, 255); 
} 
label{ 
    display: flex; 
    flex-direction: column; 
} 
select{ 
    background-color: bisque; 
} 
input{ 
    background-color: bisque; 
    padding: 5px; 
} 
button{ 
    background-color: tan; 
    padding: 10px; 
} 
textarea{ 
    background-color: tan; 
}